body {
    background-color: #F1CED4;
}

/* Blog title */
.brand {
    font-family: Lato, sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #391306;
}

.title {
    color: #391306;
    text-align: center;
    font-size: 5rem;
}

.tagline{
    color: #710019;
    font-weight: 500;
    padding-left: 12.5rem;
    text-align: center;

}

.thin {
    font-weight: 400;
}

.light-bg {
    background-color: #949393;
}


.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

/* Post header */
.image-container {
    position: relative;
  }
  .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: white;
    color: black;
    font-size: 18px;
    padding: 20px;
    text-align: center;
  }

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F1CED4;
}

.masthead {
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.masthead-text {
    background-color: #391306;
    color:#8a98a7;
    position:relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
    height: 33vh;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #710019;
}

.post-link:hover,
.page-link {
    color: #710019;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #F1CED4;
}

.btn-signup {
    background-color: #710019;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #F1CED4;
}

.btn-edit {
    background-color: #f9ccd3;
    color: #fff;
}

.btn-edit:hover,
.btn-edit:active {
    background-color: #fff;
    color: #391306;
}

.btn-delete {
    background-color: #391306;
    color: #fff;
}

.btn-delete:hover,
.btn-delete:active {
    background-color: #fff;
    color: #F1CED4;
}

.link {
    color: #F1CED4;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #F7CAC9;
    text-decoration: underline;
}

.btn-like {
    color: #F7CAC9;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #F7CAC9;
    background: transparent;
    border: none;
}
